@import url('https://fonts.googleapis.com/css?family=Overpass');

body {
  margin-top: 20vh;
  margin-bottom: 20vh;
  font-family: "Neuzeit S", inherit;
}

h2 {
    color: #0054DE;
    font-family: "Neuzeit S Bold", inherit;
    font-size: 24px;
}

p {
    font-size: 24px;
    color: #686868;
}

#headline {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Neuzeit S Bold", inherit;
}

#purpose {
    font-size: 2em;
    color: #0054DE;
    font-weight: 500;
    line-height: 40px;
}

#contact {
  font-size: 16px;
}

.btn {
    margin-right: 20px;
    border-radius: 6px;
    box-shadow: 4px 9px 25px 1px rgba(0, 0, 0, .1);
    border-style: none;
}

.row {
    padding: 4vh 0;
}

#spotify {
    background: linear-gradient(180deg, rgba(29,185,84,1) 0%, rgba(134,201,81,1) 24%, rgba(255,255,255,1) 100%);
    padding: 4vh 0;
}

.card {
    font-family: "Overpass", sans-serif;
}

.card-img-top {
    text-align: center;
    padding: 20px
    height: 28rem;
    width: 28rem;
}

.card-title {
    font-size: 28px;
    font-weight: 800;
}
