body {
  margin-top: 20vh;
  margin-bottom: 20vh;
  font-family: "Neuzeit S", inherit;
}

h2 {
    color: #0054DE;
    font-family: "Neuzeit S Bold", inherit;
    font-size: 24px;
}

.container {
    padding: 4vh;
}

p {
    font-size: 24px;
    color: #686868;
}

#headline {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Neuzeit S Bold", inherit;
}

#purpose {
    font-size: 2em;
    color: #0054DE;
}

#contact {
  font-size: 16px;
}

.btn {
    margin-right: 20px;
    border-radius: 6px;
    box-shadow: 4px 9px 25px 1px rgba(0, 0, 0, .1);
    border-style: none;
}

@font-face {
    font-family: "Neuzeit S";
    src: url("style/NeuzeitSBook.woff") format('woff');
    src: url("style/NeuzeitSBook.woff2") format('woff2');
}

@font-face {
    font-family: "Neuzeit S Bold";
    src: url("style/NeuzeitSBookHeavy.woff") format('woff');
    src: url("style/NeuzeitSBookHeavy.woff2") format('woff2');
}
